* {
    box-sizing: border-box;
}

#container , #nav{
    margin: 0 auto;
    width: 75%;
    position: relative;
    margin-top: 2vh;
}

#logo {
    height: 4.7vh;
    position: absolute;
    margin-top: 5px;
}

#delicious {
    font-family:cursive;
    font-size: 4vh;
    font-weight: 900;
    margin-left: 47px;
    margin-top: 0px;
    position: absolute;
}

#food{
    color: rgb(184, 179, 179);
    font-family: sans-serif;
    font-size: xx-small;
    letter-spacing: 0.2vh;
    margin-left: 5.5vh;
    margin-top: 4.9vh;
    position: absolute;
}

#fix {
    overflow:auto;
}

#sc_ic {
    float: right;
}

.ic {
    width: 3vh;
}

.tips {
    color: rgb(128, 110, 110);
    font-family: serif;
    font-size: large;
    line-height: 2vh;
    margin-top: 4.5vh;
    text-indent: 3%;
}

#chocolate-pizza {
    font-family:cursive;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: -2px;
    margin-bottom: 0vh;
}

#posted_in {
    color: rgb(197, 185, 185);
    display: inline;
    margin: 0px;
    font-size: 12px;
    font-family:sans-serif;
    text-transform: uppercase;
}

#pizza_img {
    margin-top: 1vh;
    width: 100%;
}

#print_ic {
    float: right;
    width: 2.5vh;
    padding-top: 4px;
}

#print-btn {
    background-color: Transparent;
    border: hidden;
    color: lightgray; 
    float: right;
    font-family: sans-serif;
    font-size: medium;
    margin-right: 0;
    overflow: auto;
    text-transform: uppercase;
}

#recipe-img {
    margin-top: 3.5vh;
    width: 100%;
}

#form {
    color: gray;
    display: inherit;
    font-family:cursive;
    line-height: 3vh;
    margin-top: -45vh;
    width: 100%;
}

input[type=checkbox]:checked + label {
    text-decoration: line-through;
}

.line {
    background-image: linear-gradient(45deg, #ffffff 28.57%, #e0e0e0 28.57%, #e0e0e0 50%, #ffffff 50%, #ffffff 78.57%, #e0e0e0 78.57%, #e0e0e0 100%);
    background-size: 10.2px;
    margin: 3em 0 1em 0;
    padding: 8px;
}

#about-her {
    color: gray;
    display: inline-block;
    font-family:serif;
    width: 75%;
}

#vanessa-img {
    position: absolute;
    width: 11vh;
}

#her-name {
    font-size: x-large;
    font-weight: 700;
    margin-bottom: 1vh;
    margin-left: 15%;
}

#her-bio {
    font-size: large;
    line-height: 1.3em;
    margin-left: 15%;
    width: 85%;
}

#share-btn-section {
    display: inline;
}

#btn-share {
    color: white;
    background-color: #b36d4d;
    float: right;
    font-family: sans-serif;
    font-size: 30px;
    padding: 12px;
    width: 16vw;
    border: 2px;
    border-radius: 2px;
}

#footer-section {
    margin-top: 5em;
}

#words-footer {
    color: gray;
    font-family:serif;
    line-height: 1.5em;
    margin-top: 5em;
    text-align: center;
}

#first_line ,#second_line {
    background-color: gray;
    width: 47%;
    display: inline-block;
    margin-bottom: 15px;
    margin-left: 12px;
    margin-right: auto;
    padding: 0.5px;
}

#footer-logo {
    border: 2px solid white;
    display: inline-block;
    width: 2em;
    margin: 0 6px;
}

#publish {
    margin-bottom: 5vh;
}
